<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<pages validateRequest="false"/>
		<!--<httpRuntime requestValidationMode="3.0"/>-->
		<compilation debug="true"/>
    <customErrors mode="Off"></customErrors>
	</system.web>
	<appSettings>
		<add key="ConnectionString" value="server=googlecloudzone.net;Database=pubsubnotification;user Id=sa;Password=unlock"/>
	</appSettings>
</configuration>
